ADMIN_USERNAME= avnadmin
ADMIN_PASSWORD= AVNS_uy_r-wzfPs62wUlqMUl
DATABASE_NAME= defaultdb
DIALECT=mysql
DIALECTMODEL=mysql2
PORT = 10216
HOST = mysql-149abe2b-lisakristinbs-88a9.l.aivencloud.com
